#footer{
    border-top: 1px solid lightgrey;
}
body{
    margin-top: 0px;
}

i {
    font-size: 1.5rem;
    color: black;
    margin: 0px 1rem;
    vertical-align: middle;
}

nav i{
    color: rgba(0,0,0,.5);
    margin-right: 0.1rem;
}

nav a{
    text-align: center;
}